# Environment variables
.env
.env.local

# Dependencies
node_modules
frontend/node_modules
backend/venv
backend/__pycache__
backend/app/__pycache__
backend/app/data/*.csv

# Build
frontend/dist

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
